.containerData {
  padding: 20px;
  font-family: 'Larken', sans-serif;
  background-color: rgba(255, 255, 255, 0.834); /* Fondo gris transparente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  
  justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */

}

form {
  font-family: 'Larken', sans-serif;
  display: flex;
  flex-wrap: wrap; /* Permite que los inputs se ajusten al ancho del contenedor */
  gap: 10px; /* Espacio entre los elementos dentro del formulario */
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.834);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Añadido para separar el contenido del borde */
}

.box {
  display: flex;
  flex-direction: row;
 
  margin: 10px; /* Añadido para separar los elementos */
  justify-content:center;
}

input {

  font-family: 'Larken', sans-serif;
  padding: 10px;
  margin-right:  20px;; /* Ajuste para eliminar el margen vertical */
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  font-family: 'Larken', sans-serif;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center; /* Alineación centrada para encabezados y celdas */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
