/* Paleta de colores */
:root {
  --blue: #4A90E2;
  --light-blue: #50E3C2;
  --purple: #9013FE;
  --light-purple: #BD10E0;
  --violet: #8E44AD;
  --light-violet: #D2B4DE;
  --green: #2ECC71;
  --light-green: #ABEBC6;
  --red: #E74C3C;
  --light-red: #F5B7B1;
}

.container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;

  max-width: 1200px;
  margin: 20px auto;
}


/* Establecer la fuente para todos los elementos */
body, button, input, .navbar {
  font-family: 'Larken', serif;
}

/* Estilos para h2 */
h2 {
  color: var(--purple);
  font-family: 'Larken', sans-serif;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid var(--light-purple);
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  margin-bottom: 10px;
}

input[type="text"], input[type="date"], input[type="number"], select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Estilos para botones */
button, input[type="button"], input[type="submit"], .navbar {
  background-color: var(--violet);
  font-family: 'Larken', sans-serif;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, .navbar:hover {
  background-color: var(--light-purple);
}

button:active, input[type="button"]:active, input[type="submit"]:active, .navbar:active {
  background-color: var(--violet);
}

button.secondary, input[type="button"].secondary, input[type="submit"].secondary, .navbar.secondary {
  background-color: var(--purple);
}

button.secondary:hover, input[type="button"].secondary:hover, input[type="submit"].secondary:hover, .navbar.secondary:hover {
  background-color: var(--light-purple);
}

button.secondary:active, input[type="button"].secondary:active, input[type="submit"].secondary:active, .navbar.secondary:active {
  background-color: var(--light-violet);
}

/* Estilos para botones pequeños */
button.edit {
  background-color: var(--green);
  padding: 5px 10px;
  font-size: 12px;
}

button.edit:hover {
  background-color: var(--light-green);
}

button.edit:active {
  background-color: var(--green);
}

button.delete {
  background-color: var(--red);
  padding: 5px 10px;
  font-size: 12px;
}

button.delete:hover {
  background-color: var(--light-red);
}

button.delete:active {
  background-color: var(--red);
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  font-size: 14px;
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 12px;
  width: 25%;
  max-height: 3em;
  overflow: hidden;
  white-space: pre-wrap;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.alert {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  width: 250px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.alert.show {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background-color: #28a745; /* Verde */
}

.alert.error.show {
  background-color: #dc3545; /* Rojo */
}
/* Agrega estos estilos para los iconos */
.actions-column .edit-icon, .actions-column .delete-icon {
  cursor: pointer;
  color: #007bff; /* Color de editar */
  margin-right: 8px; /* Espacio entre iconos */
}

.actions-column .delete-icon {
  color: #dc3545; /* Color de eliminar */
}
