.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Ancho del contenedor al 90% del ancho del viewport */
  margin: auto; /* Centra el contenedor horizontalmente */
  min-height: calc(100vh - 70px); /* Calcula la altura mínima del contenedor para ocupar toda la altura menos 70px (para el footer) */
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.834); /* Fondo gris transparente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.image {
  margin-top: 20px;
  max-width: 100%;
  height: 250px; /* Para mantener la proporción de la imagen */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.selectContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.label {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  padding: 8px;
  font-size: 16px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Espacio entre botones */
}

.button {
  flex: 1; /* Ocupa todo el espacio disponible */
  background-color: #8E44AD;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #BD10E0;
}

.button:active {
  background-color: #8E44AD;
}
