:root {
  --primary-color: #4A90E2;
  --secondary-color: #50E3C2;
  --error-color: #E74C3C;
  --success-color: #2ECC71;
  --background-color: #f9f9f9;
  --text-color: #333;
  --border-color: #ddd;
  --violet: #8E44AD;
  --light-purple: #D2B4DE;
  --purple: #9013FE;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Ancho del contenedor al 90% del ancho del viewport */
  margin: auto; /* Centra el contenedor horizontalmente */
  min-height: calc(100vh - 70px); /* Calcula la altura mínima del contenedor para ocupar toda la altura menos 70px (para el footer) */
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.834); /* Fondo gris transparente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-radius: 8px; /* Bordes redondeados */
  margin-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 18px; /* Tamaño de fuente */
  padding-bottom: 10px; /* Añade un padding al final del contenedor */
}

.image {
  max-width: 200px;
  margin-top: 20px;
  border: 1px solid #ddd; /* Añade un borde ligero */
  padding: 5px;
  border-radius: 8px; /* Bordes redondeados */

}

input[type="file"] {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content; /* Ajusta el ancho al contenido */
    max-width: 100%; /* Ancho máximo permitido */
  
}


.label {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px; /* Bordes redondeados */
 
}

.buttonContainer {
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  background-color: #834dc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.button:hover {
  background-color: #a46bda;
}

.text {
  white-space: pre-wrap;
  text-align: left;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 100%;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.filteredData {
  margin-top: 20px;
  text-align: center;
}

.alert.show {
  display: block;
  opacity: 1;
}

.alert-success {
  background-color: #4caf50;
}
h1 {
  color: var(--purple);
  font-family: 'Larken', sans-serif;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid var(--light-purple);
}