/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

div {
    font-family: 'Larken', sans-serif;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background: #b399c4;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    height: 100%; /* Ajusta la altura al 100% del viewport */
    position: fixed; /* Fija la barra lateral */
    top: 0;
    left: 0;
    bottom: 0; /* Ocupa todo el alto disponible */
    overflow-y: auto; /* Permite desplazamiento si el contenido es mayor que la altura */
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Asegura que la barra lateral esté sobre el contenido */
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar li a {
    color: #ffffff;
    text-decoration:dotted;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.sidebar li a:hover {
    background-color: #495057;
    transform: scale(1.05);
}

/* Main content styles */
.main-content {
    padding: 20px;
    flex: 1;
    margin-left: 250px; /* Deja espacio para la sidebar */
    transition: margin-left 0.3s ease-in-out;
}

.main-content.shifted {
    margin-left: 0;
}

.MenuConteiner {
    padding: 20px;
    height: 100%;
    overflow: auto; /* Permite desplazamiento si el contenido es mayor que la altura disponible */
}

.main-content > * {
    max-width: 100%; /* Asegura que el contenido no desborde */
}


.sidebar li a.active {
    background-color: #495057;
    color: #ffffff;
}